extends layout

block title
  - place='main'
  title #{__("Jianpu Space")}

block content
  h1 #{__("Welcome to Jianpu Space")}
  p #{__("This website provides jianpu of various popular songs.")}
  p #{__("Currently there are %s songs", numSongs)}
  p
    a.button.blue(href="jianpu") #{__("Jianpu search")}
    | 
    a.button.cyan(href='qbsh') #{__("Humming search")}
    | 
    a.button.green(href='songList') #{__("Song list")}
  p #{__("Warning! We will store searches")}
  h2 #{__("Recently added:")}
  ul
    for song in recentSongs 
      li
        | #{song.creation_time.toLocaleDateString()}
        |
        a(href='songList/'+song._id) #{song.name}
        if song.singer
          span(style='margin-left: 1em;')
          | #{__("Singer")+__(":")+song.singer}
