extends layout

block title
  title #{__("Jianpu Space")}

block content
  h1 #{__("Welcome to Jianpu Space")}
  p #{__("This website provides jianpu of various popular songs.")}
  p 目前共有 #{numSongs} 首歌曲
  p
    a.button.blue(href="jianpu") 簡譜搜尋
    a.button.cyan(href='qbsh') 哼唱搜尋
    a.button.green(href='songList') 歌曲清單
  p 警告！我們將會儲存您在這個網頁所做的搜尋，作為研究用途。
  h2 最近新增：
  ul
    for song in recentSongs 
      li
        | #{song.creation_time.toLocaleDateString()}
        |
        a(href='songList/'+song._id) #{song.name}
