extends layout

block title
  meta(name='robots' content='noindex')
  title #{__("Jianpu search result")} - #{__("Jianpu Space")}

block scripts
  script(src='../javascripts/je.js')
  script(src='../javascripts/songShow.js')
  script(src='../javascripts/MMLNote.js')
  script(src='../javascripts/MMLPart.js')
  script(src='../javascripts/MMLPlayer.js')
  script(src='../javascripts/sound.js')
  script.
    function validateSearch() {
      var q = document.forms[0].jianpu.value;
      if (/[89]/.test(q)) {
        alert('#{__("8,9 invalid")}');
        return false;
      }
      if (!/[1-7]/.test(q)) {
        alert('#{__("At least one note")}');
        return false;
      }
      return true;
    }

block content
  h1 #{__("Jianpu search result")}
  section.warning
    | #{__("Warning! save jianpu queries")}
    br
    a(href=PREFIX+'/pastQueries') #{__("The collected information is placed here")}
  form(method='GET' action='search' onsubmit='return validateSearch()')
    label(for='jianpu') #{__("Jianpu")+__(":")}
    input#jianpu(name='jianpu' pattern='[0-9]*' type='tel' required value=query)
    button.button.blue(type='submit') #{__("Search")}
  if result.length > 10 && result[9].score >= 90.00
    p 
      | #{__("Search string too short.")}
      | #{__("Recommend to add more notes.")}
  ol
    for i in result
      li
        a(href=PREFIX+'/songList/'+i.song.id)= i.song.name
        if i.song.singer
          | #{__(",") + __("Singer") + __(":")}
          span #{i.song.singer}
        | #{__(",") + __("Similarity") + __(":")}#{i.score.toFixed(2)}
        div.to-jianpu(data-from=i.from data-to=i.to)= i.song.jianpu
  if result.length == 0
    h2 #{__("No results")}
    p
      | #{__("Perhaps this site has not included this song.") + __("If you know the song")}
      a(href=PREFIX+'/songList/add') #{__("add jianpu for this song")}
      | #{__(", to benefit other singers.")}
  else
    p
      | #{__("Don't see the song you're looking for?") + __("If you know the song")}
      a(href=PREFIX+'/songList/add') #{__("add jianpu for this song")}
      | #{__(", to benefit other singers.")}
  audio
    source(src="../sounds/blank.mp3", type="audio/mpeg")
