extends layout

block title
  - place='jianpu'
  title #{__("Jianpu search")} - #{__("Jianpu Space")}

block scripts
  script.
    function validateSearch() {
      var q = document.forms[0].jianpu.value;
      if (/[89]/.test(q)) {
        alert('#{__("8,9 invalid")}');
        return false;
      }
      if (!/[1-7]/.test(q)) {
        alert('#{__("At least one note")}');
        return false;
      }
      return true;
    }

block content
  h1 #{__("Jianpu search")}
  p
    | !{__("Jianpu search help", PREFIX+'/jianpu/search?jianpu=11556654433221')}
  p #{__("Webmaster reminder:") + __("may not be able to find song", 200)}
  p #{__("Webmaster reminder 2:") + __("Jianpu search assumes movable Do")}
  section.warning
    | #{__("Warning! save jianpu queries")}
    br
    a(href=PREFIX+'/pastQueries') #{__("The collected information is placed here")}
  form(method='GET' action=PREFIX+'/jianpu/search' onsubmit='return validateSearch()')
    label(for='jianpu') #{__("Jianpu")+__(":")}
    input#jianpu(name='jianpu' pattern='[0-9]*' type='tel' required)
    button.button.blue(type='submit') #{__("Search")}
  p #{__("Jianpu conversion")}
  table
    tbody
      tr
        td #{__("Solfège")}
        td Do
        td Re
        td Mi
        td Fa
        td Sol
        td La
        td Si/Ti
      tr
        td #{__("Note name")}
        td C
        td D
        td E
        td F
        td G
        td A
        td B
      tr
        td #{__("Jianpu")}
        td 1
        td 2
        td 3
        td 4
        td 5
        td 6
        td 7
