extends layout

block title
  meta(name='robots' content='noindex')
  title 簡譜搜尋結果

block scripts
  script(src='../javascripts/je.js')
  script(src='../javascripts/songShow.js')
  script(src='../javascripts/MMLNote.js')
  script(src='../javascripts/MMLPart.js')
  script(src='../javascripts/MMLPlayer.js')
  script(src='../javascripts/sound.js')

block content
  h1 簡譜搜尋結果
  section.warning
    | 警告！使用本服務，表示您同意將您的查詢字串公開作為簡譜搜尋的資料集。我們不會公開您的IP位址。
    br
    a(href=PREFIX+'/pastQueries') 搜集的資料放在這裡
  form(method='GET' action='search')
    | 簡譜：
    input(name='jianpu' pattern='[0-9]*' required value=query)
    button.button.blue(type='submit') 搜尋
  ol
    for i in result
      li
        a(href=PREFIX+'/songList/'+i.song.id)= i.song.name
        if i.song.singer
          | ，歌手：
          span #{i.song.singer}
        | ，配對分數：#{i.score.toFixed(2)}
        div.to-jianpu(data-from=i.from data-to=i.to)= i.song.jianpu
