doctype html
- PREFIX=''
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navigation.cyan-bg
      span#banner afpweb
      span.split
      ul.menu
        li(class=(place=='main' ? 'selected' : ''))
          a(href=PREFIX+'/') 主畫面
        li(class=(place=='jianpu' ? 'selected' : ''))
          a(href=PREFIX+'/jianpu') 簡譜搜尋
        li(class=(place=='qbsh' ? 'selected' : ''))
          a(href=PREFIX+'/qbsh') 哼唱搜尋
        li(class=(place=='pastQueries' ? 'selected' : ''))
          a(href=PREFIX+'/pastQueries') 搜尋紀錄
        li(class=(place=='songList' ? 'selected' : ''))
          a(href=PREFIX+'/songList') 歌曲清單
      span.split-right
    section
      block content
