doctype html
- PREFIX=''
- PREFIXLANG=PREFIX
if optLocale
  - PREFIXLANG=PREFIX+'/'+locale
html(lang=locale)
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    block title
    link(rel="shortcut icon" href=`${PREFIX}/favicon.ico` type="image/png")
    link(rel='stylesheet', href=`${PREFIX}/stylesheets/style.css`)
    block scripts
    script(src=`${PREFIX}/locales/${locale}.js`)
  body
    nav.navigation.cyan-bg
      span#banner #{__("Jianpu Space")}
      span.split
      ul.menu
        li(class=(place=='main' ? 'selected' : ''))
          a(href=`${PREFIXLANG}/`) #{__("Home")}
        li(class=(place=='jianpu' ? 'selected' : ''))
          a(href=`${PREFIXLANG}/jianpu`) #{__("Jianpu search")}
        li(class=(place=='qbsh' ? 'selected' : ''))
          a(href=`${PREFIXLANG}/qbsh`) #{__("Humming search")}
        li(class=(place=='pastQueries' ? 'selected' : ''))
          a(href=`${PREFIXLANG}/pastQueries`) #{__("Past queries")}
        li(class=(place=='songList' ? 'selected' : ''))
          a(href=`${PREFIXLANG}/songList`) #{__("Song list")}
        li(class=(place=='TODO' ? 'selected' : ''))
          a(href=`${PREFIXLANG}/TODO`) #{__("To-do list")}
      span.split-right
    main
      block content
    center
      | 🌎#{__("Language:")}
      a(href=`${PREFIX}/zh-tw${pagelink}`) 繁體中文
      | 
      a(href=`${PREFIX}/en${pagelink}`) English
