doctype html
- PREFIX=''
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="format-detection" content="telephone=no")
    block title
    link(rel="shortcut icon" href=PREFIX+"/favicon.ico" type="image/png")
    link(rel='stylesheet', href=PREFIX+'/stylesheets/style.css')
    block scripts
  body
    nav.navigation.cyan-bg
      span#banner 簡譜空間
      span.split
      ul.menu
        li(class=(place=='main' ? 'selected' : ''))
          a(href=PREFIX+'/') 首頁
        li(class=(place=='jianpu' ? 'selected' : ''))
          a(href=PREFIX+'/jianpu') 簡譜搜尋
        li(class=(place=='qbsh' ? 'selected' : ''))
          a(href=PREFIX+'/qbsh') 哼唱搜尋
        li(class=(place=='pastQueries' ? 'selected' : ''))
          a(href=PREFIX+'/pastQueries') 搜尋紀錄
        li(class=(place=='songList' ? 'selected' : ''))
          a(href=PREFIX+'/songList') 歌曲清單
        li(class=(place=='TODO' ? 'selected' : ''))
          a(href=PREFIX+'/TODO') 待辦事項
      span.split-right
    section
      block content
