extends layout

block title
  title #{__("Page not found")} - #{__("Jianpu Space")}

block content
  h1 #{__("Page not found")}
  p #{__("This doesn't seem like the place for you")}
  p 
    a(href=PREFIX+'/') #{__("You can click here to return to the home page")}
