extends layout

block title
  meta(name='robots' content='noindex')
  title 搜尋紀錄 - 簡譜空間
  script(src="../javascripts/sound.js")
  script(src="../javascripts/pastQueriesQbsh.js")

block content
  h1 搜尋紀錄
  div 查詢音檔：
    audio(controls=true)
      source(src='../savedQueries/'+query+'.wav', type="audio/wav")
  if result && result.pitch
    p 音高序列：
      span#pitchSeq [#{result.pitch.join(', ')}]
      br
      button.button.blue(onclick='playPitch()') 播放音高
  if result && result.songs
    ol
      for i in result.songs
        li
          - var range='';
          - if (i.From && i.To) range=`#qbshfrom=${i.From}&qbshto=${i.To}`;
          a(href='../songList/'+i.file+range)= i.name
          if i.singer
            | ，歌手：
            span #{i.singer}
          | ，配對分數：#{i.score}
    p #{result.reason}
  else
    p #{JSON.stringify(result)}
