extends layout

block title
  - place='pastQueries'
  meta(name='robots' content='noindex')
  title #{__("Past query")} - #{__("Jianpu Space")}

block scripts
  script(src=PREFIX+"/javascripts/sound.js")
  script(src=PREFIX+"/javascripts/pastQueriesQbsh.js")

block content
  h1 #{__("Past query")}
  div #{__("Query audio:")}
    audio(controls=true)
      source(src=PREFIX+'/savedQueries/'+query+'.wav', type="audio/wav")
  div #{__("Time")}#{__(":")}#{queryTime.toLocaleString()}
  if result && result.pitch
    details
      summary #{__("Pitch sequence:")}
      span#pitchSeq [#{result.pitch.join(', ')}]
    button.button.blue(onclick='playPitch()') #{__("Play pitch")}
    audio#keepAudioCtx(loop src=PREFIX+"/sounds/blank.mp3")
  if result && result.songs
    ol
      for i in result.songs
        li
          - var range='';
          - if (i.From!=null && i.To!=null) range=`#qbshfrom=${i.From}&qbshto=${i.To}`;
          a(href=PREFIXLANG+'/songList/'+i.file+range)= i.name
          if i.singer
            | #{__(",") + __("Singer") + __(":")}
            span #{i.singer}
          | #{__(",") + __("Similarity") + __(":")}#{i.score}
    p #{result.reason}
  else
    p #{JSON.stringify(result)}
