extends layout

block title
  meta(name='robots' content='noindex')
  title 搜尋紀錄

block scripts
  script(src='../javascripts/je.js')
  script(src='../javascripts/MMLNote.js')
  script(src='../javascripts/MMLPart.js')
  script(src='../javascripts/MMLPlayer.js')
  script(src='../javascripts/sound.js')
  script(src='../javascripts/songShow.js')

block content
  h1 搜尋紀錄
  p 簡譜：#{query}
  ol
    for i in result
      li
        a(href=PREFIX+'/songList/'+i.song.id)= i.song.name
        if i.song.singer
          | ，歌手：
          span #{i.song.singer}
        | ，配對分數：#{i.score.toFixed(2)}
        div.to-jianpu(data-from=i.from data-to=i.to)= i.song.jianpu
  audio
    source(src="../sounds/blank.wav", type="audio/x-wav")
