extends layout

block title
  - place='pastQueries'
  meta(name='robots' content='noindex,nofollow')
  title #{__("Past queries")} - #{__("Jianpu Space")}

block content
  h1 #{__("Past queries")}
  div
    table#pastQueries
      thead
        tr(class='cyan-bg')
          th(style='width:200px') #{__("Time")}
          th(style='width:80px') #{__("Method")}
          th #{__("Search result")}
      tbody
        for i in queries
          tr
            td
              a(href=PREFIX+'/pastQueries/'+i._id) #{i.query_time.valueOf()}
            td= i.method
            td= i.top_song || __("No result")
  script.
    var table = document.getElementById('pastQueries')
    for (var i = 1; i < table.rows.length; i++) {
      var cell = table.rows[i].cells[0]
      cell.children[0].innerHTML = new Date(parseInt(cell.textContent)).toLocaleString()
    }