extends layout

block title
  - place='qbsh'
  title #{__("Humming search")} - #{__("Jianpu Space")}

block scripts
  script(src=PREFIX+'/javascripts/libflac.min.wasm.js')
  script(src=PREFIX+"/javascripts/pastQueriesQbsh.js")

block content
  h1 #{__("Humming search")}
  p #{__("Humming search howto")}
  p #{__("Webmaster reminder:") + __("may not be able to find song", 200)}
  section.warning
    | #{__("Warning! save qbsh queries")}
    br
    a(href=PREFIXLANG+'/pastQueries') #{__("The collected information is placed here")}
  div.main-controls
    canvas.visualizer(height="120" width='600')
    div
      button#btnRecord.button.cyan= __("Record")
      | 
      button#btnSearch.button.blue(disabled)= __("Search")
      | 
      button#btnStop.button.red(disabled)= __("Cancel")
    p
      = __("Upload a humming song")+' '
      input#inFile(type='file')
      button#btnUpload.button.blue(onclick="uploadFile()")= __("Upload")
  div.progress(style='margin-top:15px;margin-bottom:15px;')
    div.progress-bg
      div.progress-bar(style='width:0%')
    div#progressMessage(style='height:1em;')
  p
    = __("Your uploaded recording:")
    audio#yourRecording(controls style='vertical-align:middle;')
      source(src=PREFIX+"/sounds/blank.mp3", type="audio/mpeg")
    |  
    button.button.blue(onclick='playPitch()') #{__("Play pitch")}
  div.query-results
    table
      thead
        tr(class='cyan-bg')
          th= __("Song name")
          th= __("Singer")
          th(style='width:100px')= __("Similarity")
      tbody
  div#noResult(style='display:none;')
    h2= __("No results")
    ol
      li
        = __("Perhaps this site has not included this song.") + __("If you know the song")
        a(href=PREFIXLANG+'/songList/add')= __("add jianpu for this song")
        = __(", to benefit other singers.")
      li #{__("Maybe out of tune")}
  div#sopResult(style='display:none;')
    p= __("Don't see the song you're looking for?")
    ol
      li
        = __("If you know the song")
        a(href=PREFIXLANG+'/songList/add')= __("add jianpu for this song")
        = __(", to benefit other singers.")
      li #{__("Maybe out of tune")}
  script(type="text/javascript" src=PREFIX+"/javascripts/record.js")
