extends layout

block title
  - place='songList'
  if song
    title #{__("Song")} #{song.name} - #{__("Jianpu Space")}

block scripts
  script(src=`${PREFIX}/javascripts/je.js`)
  script(src=`${PREFIX}/javascripts/MMLNote.js`)
  script(src=`${PREFIX}/javascripts/MMLPart.js`)
  script(src=`${PREFIX}/javascripts/MMLPlayer.js`)
  script(src=`${PREFIX}/javascripts/sound.js`)
  script(src=`${PREFIX}/javascripts/songShow.js`)

block content
  if song
    h1 #{__("Song")} #{song.name}
    if song.multi_voice
      p #{__("This song has multiple vocal parts, which our website does not currently support. Sheet music may be incomplete.")}
    div
      a.button.cyan(href=song.id+'/edit') #{__("Edit")}
      | 
      a.button.green(href='history?songID='+song.id) #{__("View history")}
    p #{__("Singer") + __(":")}#{song.singer || __("None")}
    p #{__("Language") + __(":")}#{song.language || __("None")}
    if song.jianpu
      p
        | #{__("Jianpu") + __(":")}
      div#jianpuOut.to-jianpu(style='border: 1px solid black;' data-songid=song.id)= song.jianpu
    else
      p
        a(href=PREFIXLANG+'/songList/'+song.id+'/edit') #{__("No jianpu")}
    p #{__("Last modified") + __(":")}
      span.date #{+song.modify_time}
    script.
      document.querySelectorAll('.date').forEach(function(x){
        x.textContent = new Date(parseInt(x.textContent)).toLocaleString();
      });
  else
    h1 #{__("Song not found")}
    p #{__("Maybe the song has been deleted")}
    p 
      a(href=PREFIXLANG+'/songList') #{__("search other songs")}
