extends layout

block title
  - place='songList'
  title #{__("Song list")} - #{__("Jianpu Space")}

block content
  h1 #{__("Song list")}
  form(action=PREFIX+'/songList/add' method='GET')
    p
      button.button.cyan #{__("Add")}
  table
    thead.cyan-bg
      tr
        th #{__("Song name")}
        th #{__("Singer")}
        th(style='width:80px') #{__("Language")}
    for song in Object.values(songs)
      tr
        td
          a(href=PREFIX+'/songList/'+song.id)= song.name
        td= song.singer || __("None")
        td= song.language || __("None")
