extends layout

block title
  - place='songList'
  meta(name='robots' content='noindex,nofollow')
  if oldSong
    title #{__("Song")} #{oldSong.name} - #{__("Jianpu Space")}
  else
    title #{__("Revision not found for song")} #{song.name} - #{__("Jianpu Space")}

block scripts
  script(src=`${PREFIX}/javascripts/je.js`)
  script(src=`${PREFIX}/javascripts/MMLNote.js`)
  script(src=`${PREFIX}/javascripts/MMLPart.js`)
  script(src=`${PREFIX}/javascripts/MMLPlayer.js`)
  script(src=`${PREFIX}/javascripts/sound.js`)
  script(src=`${PREFIX}/javascripts/songShow.js`)

block content
  if oldSong
    h1 #{__("Song")} #{oldSong.name}
    if song.rev == oldSong.rev
      p
        | #{__("This is the current version of the song %s", song.name)}
        | (
        span.date #{+song.modify_time}
        | )
    else
      p
        | #{__("This is the historical version of the song %s", song.name)}
        span.date #{+oldSong.modify_time}
        | #{__("This is the historical version of the song (p2)")}
    p #{__("Singer")+__(":")}#{oldSong.singer || '無'}
    p #{__("Language")+__(":")}#{oldSong.language || '無'}
    if oldSong.jianpu
      p= __("Jianpu")+__(":")
      div#jianpuOut.to-jianpu(style='border: 1px solid black;')= oldSong.jianpu
      audio#keepAudioCtx(loop)
        source(src=PREFIX+"/sounds/blank.mp3", type="audio/mpeg")
    else
      p
      | #{__("No jianpu")}
    script.
      document.querySelectorAll('.date').forEach(function(x){
        x.textContent = new Date(parseInt(x.textContent)).toLocaleString();
      });
  else
    h1 #{__("Revision not found for song")} #{song.name}
    a(href=PREFIXLANG+'/songList/'+song.id) #{__("Here is the latest version of this song.")}
