extends layout

block title
  meta(name='robots' content='noindex,nofollow')
  if song
    title 歌曲 #{song.name}
  else
    title 找不到歌曲

block scripts
  script(src='../javascripts/je.js')
  script(src='../javascripts/MMLNote.js')
  script(src='../javascripts/MMLPart.js')
  script(src='../javascripts/MMLPlayer.js')
  script(src='../javascripts/sound.js')
  script(src='../javascripts/songShow.js')

block content
  if song
    h1 歌曲 #{song.name}
    p 這是歌曲 
      span #{curSong.name}
      if song.rev == curSong.rev
        |  的目前版本 (
        span.date #{+song.modify_time}
        |  )
      else
        |  於 
        span.date #{+song.modify_time}
        |  時的歷史版本
    p 歌手：#{song.singer || '無'}
    p 語言：#{song.language || '無'}
    if song.jianpu
      p
        | 簡譜：
      div#jianpuOut.to-jianpu(style='border: 1px solid black;')= song.jianpu
      audio
        source(src="../sounds/blank.wav", type="audio/x-wav")
    else
      p
      | 沒有簡譜。
      a(href=PREFIX+'/songList/'+song.id+'/edit') 請幫忙加上簡譜
    script.
      document.querySelectorAll('.date').forEach(function(x){
        x.textContent = new Date(parseInt(x.textContent)).toLocaleString();
      });
  else
    h1 找不到歌曲
    p 可能是這首歌曲被刪除了，或者是您輸入錯網址了。
    p 
      | 您可以按
      a(href=PREFIX+'/songList') 這裡
      | ，尋找其他歌曲
