extends layout

block title
  // Do not crawl edit page. This page provides no additional information
  meta(name='robots' content='noindex')
  if song
    title 編輯歌曲 #{song.name}
  else
    title 找不到歌曲

block scripts
  script.
    // https://stackoverflow.com/questions/11076975/how-to-insert-text-into-the-textarea-at-the-current-cursor-position/34278578
    function insert(ch) {
      var elt = document.getElementsByName('jianpu')[0];
      if (elt.selectionStart != null) {
        var start = elt.selectionStart;
        var end = elt.selectionEnd;
        var txt = elt.value;
        elt.value = txt.substring(0, start) + ch + txt.substring(end, txt.length);
        elt.selectionStart = start + 1;
        elt.selectionEnd = start + 1;
        elt.focus();
      }
    }

block content
  if song
    h1 編輯歌曲 #{song.name}
    form(method='POST' action='./')
      p 歌名：
        input(name='name' value=song.name required)
      p 歌手：
        input(name='singer' value=(song.singer || ''))
      p 語言：
        input(name='language' value=(song.language || ''))
      p 簡譜（選擇性）：
        br
        button(type='button' onclick='insert("#")') #
        button(type='button' onclick='insert("\'")') '
        button(type='button' onclick='insert(",")') ,
        button(type='button' onclick='insert("-")') -
        button(type='button' onclick='insert("_")') _
        button(type='button' onclick='insert("=")') =
        button(type='button' onclick='insert(".")') .
        button(type='button' onclick='insert("|")') |
        textarea(
          name='jianpu'
          autocorrect='off'
          style='width:100%'
        )= song.jianpu
      button.button.blue(type=submit) 確定
  else
    h1 找不到歌曲
    p 可能是這首歌曲被刪除了，或者是您輸入錯網址了。
    p 
      | 您可以按
      a(href=PREFIX+'/songList') 這裡
      | ，尋找其他歌曲
