extends layout

block title
  - place='songList'
  // Do not crawl edit page. This page provides no additional information
  meta(name='robots' content='noindex')
  if song
    title #{__("Edit song")} #{song.name} - #{__("Jianpu Space")}

block scripts
  script(src=`${PREFIX}/javascripts/je.js`)
  script(src=`${PREFIX}/javascripts/MMLNote.js`)
  script(src=`${PREFIX}/javascripts/MMLPart.js`)
  script(src=`${PREFIX}/javascripts/MMLPlayer.js`)
  script(src=`${PREFIX}/javascripts/sound.js`)
  script(src=`${PREFIX}/javascripts/songShow.js`)
  script.
    // https://stackoverflow.com/questions/11076975/how-to-insert-text-into-the-textarea-at-the-current-cursor-position/34278578
    function insert(ch) {
      var elt = document.getElementsByName('jianpu')[0];
      if (elt.selectionStart != null) {
        var start = elt.selectionStart;
        var end = elt.selectionEnd;
        var txt = elt.value;
        elt.value = txt.substring(0, start) + ch + txt.substring(end, txt.length);
        elt.selectionStart = start + 1;
        elt.selectionEnd = start + 1;
        elt.focus();
        elt.oninput();
      }
    }

block content
  if song
    h1 #{__("Edit song")} #{song.name}
    section.warning
      | #{__("Warning! edit song")}
      |
      a(href=PREFIXLANG+'/songList/history?songID='+song._id target='_blank')= __("View history")
    form(method='POST')
      p
        label(for='name')= __("Song name") + __(":")
        input#name(name='name' value=song.name required)
      p
        label(for='singer')= __("Singer") + __(":")
        input#singer(name='singer' value=(song.singer || ''))
      p
        label(for='language')= __("Language") + __(":")
        input#language(name='language' value=(song.language || ''))
      p
        label(for='jianpu')= __("Jianpu") + __(":")
        br
        button(type='button' onclick='insert("#")') #
        button(type='button' onclick='insert("\'")') '
        button(type='button' onclick='insert(",")') ,
        button(type='button' onclick='insert("-")') -
        button(type='button' onclick='insert("_")') _
        button(type='button' onclick='insert("=")') =
        button(type='button' onclick='insert(".")') .
        button(type='button' onclick='insert("|")') |
        textarea#jianpu(
          name='jianpu'
          autocorrect='off'
          spellcheck='false'
          style='width:100%'
        )= song.jianpu
      p= __("Preview") + __(":")
      div#jianpuOut.to-jianpu(style='border: 1px solid black;')
      pre(style='white-space: pre-line').
        語法簡介：
        1234567 簡譜音高
        0 休止符
        1' 2' 3' 4' 5' 6' 7' 高八度（高2個8度就加兩個'）
        1, 2, 3, 4, 5, 6, 7, 低八度（低2個8度就加兩個,）
        #1 #2 #4 #5 #6 升半音
        b2 b3 b5 b6 b7 降半音
        1_ 八分音符
        1= 十六分音符
        1- 二分音符（總之每多一個橫杠就多一拍，懂了嗎）
        連音符也是用橫杠，比如 2_ -= - 就是一個八分音符，加上一個16分音符，再加上一個四分音符
        1. 附點音符
        |  小節線（少了這個我會退件）

        每一行的開頭寫 L: 表示歌詞，歌詞會自動一個音符填一個中文字，若是英文字，請在音節處加上橫杠，比如 sun-shine
        歌詞橫跨多個音符，則每多一個音符，就多一個底線，如 啊__
        連音符只有第一個音符要填詞，休止符不能填詞，如果有間奏不想要填詞，可以用星號 * 表示，每一個音符都要寫一個星號

        調性可以在歌曲的開頭標示 /key(C)
        F#調 /key(F#)
        Bb調 /key(Bb)
        小調請寫關係大調，如 Cmin key 請寫 /key(Eb)
        一定只能寫在歌曲開頭，其他位置我會退件
        歌曲有中途移調，由於系統限制，請用歌詞來描述，在出現轉調的第一個歌詞，改寫成如 "(+1key)詞" 的形式，只能寫相對移調
      audio#keepAudioCtx(loop src=PREFIX+"/sounds/blank.mp3")
      button.button.blue(type=submit)= __("Save")
    script.
      jianpuOut.innerText = document.forms[0].jianpu.value;
      document.forms[0].jianpu.oninput = debounce(function () {
        jianpuOut.style.height = '100vh'; // to prevent screen jumping
        if (jianpuOut.stop) {
          jianpuOut.stop();
          jianpuOut.je = null;
        }
        jianpuOut.innerHTML = '';
        jianpuOut.innerText = document.forms[0].jianpu.value;
        renderJianpu(jianpuOut);
        jianpuOut.style.height = '';
      });
      document.forms[0].onsubmit = function (event) {
        var code = document.forms[0].jianpu.value;
        if (code && !/^(?!L:).*[1-7]/m.test(code)) {
          alert('Please type a valid jianpu');
          event.preventDefault();
        }
      };
  else
    h1 找不到歌曲
    p 可能是這首歌曲被刪除了，或者是您輸入錯網址了。
    p 
      | 您可以按
      a(href=PREFIXLANG+'/songList') 這裡
      | ，尋找其他歌曲
