extends layout

block title
  - place='songList'
  title #{__("Add song")} - #{__("Jianpu Space")}

block scripts
  script(src=`${PREFIX}/javascripts/je.js`)
  script(src=`${PREFIX}/javascripts/MMLNote.js`)
  script(src=`${PREFIX}/javascripts/MMLPart.js`)
  script(src=`${PREFIX}/javascripts/MMLPlayer.js`)
  script(src=`${PREFIX}/javascripts/sound.js`)
  script(src=`${PREFIX}/javascripts/songShow.js`)
  script.
    // https://stackoverflow.com/questions/11076975/how-to-insert-text-into-the-textarea-at-the-current-cursor-position/34278578
    function insert(ch) {
      var elt = document.getElementsByName('jianpu')[0];
      if (elt.selectionStart != null) {
        var start = elt.selectionStart;
        var end = elt.selectionEnd;
        var txt = elt.value;
        elt.value = txt.substring(0, start) + ch + txt.substring(end, txt.length);
        elt.selectionStart = start + 1;
        elt.selectionEnd = start + 1;
        elt.focus();
        elt.oninput();
      }
    }

block content
  h1= __("Add song")
  section.warning
    | #{__("Warning! add song")}
  form(method='POST')
    p
      label(for='name')= __("Song name") + __(":")
      input#name(name='name' required)
    p
      label(for='singer')= __("Singer") + __(":")
      input#singer(name='singer')
    p
      label(for='language')= __("Language") + __(":")
      input#language(name='language')
    p
      label(for='jianpu')= __("Jianpu") + __(":")
      br
      button(type='button' onclick='insert("#")') #
      button(type='button' onclick='insert("\'")') '
      button(type='button' onclick='insert(",")') ,
      button(type='button' onclick='insert("-")') -
      button(type='button' onclick='insert("_")') _
      button(type='button' onclick='insert("=")') =
      button(type='button' onclick='insert(".")') .
      button(type='button' onclick='insert("|")') |
      textarea#jianpu(
        name='jianpu'
        autocorrect='off'
        style='width:100%'
      )
    p= __("Preview") + __(":")
    div#jianpuOut.to-jianpu(style='border: 1px solid black;')
    audio#keepAudioCtx(loop src=PREFIX+"/sounds/blank.mp3")
    button.button.blue(type=submit)= __("Save")
  script.
    jianpuOut.innerText = document.forms[0].jianpu.value;
    document.forms[0].jianpu.oninput = debounce(function () {
      jianpuOut.style.height = '100vh'; // to prevent screen jumping
      if (jianpuOut.stop) {
        jianpuOut.stop();
        jianpuOut.je = null;
      }
      jianpuOut.innerHTML = '';
      jianpuOut.innerText = document.forms[0].jianpu.value;
      renderJianpu(jianpuOut);
      jianpuOut.style.height = '';
    });
