extends layout

block title
  // Do not crawl edit page. This page provides no additional information
  meta(name='robots' content='noindex')
  if song
    title 編輯歌曲 #{song.name} - 簡譜空間
  else
    title 找不到歌曲 - 簡譜空間

block scripts
  script(src='../../javascripts/je.js')
  script(src='../../javascripts/MMLNote.js')
  script(src='../../javascripts/MMLPart.js')
  script(src='../../javascripts/MMLPlayer.js')
  script(src='../../javascripts/sound.js')
  script(src='../../javascripts/songShow.js')
  script.
    // https://stackoverflow.com/questions/11076975/how-to-insert-text-into-the-textarea-at-the-current-cursor-position/34278578
    function insert(ch) {
      var elt = document.getElementsByName('jianpu')[0];
      if (elt.selectionStart != null) {
        var start = elt.selectionStart;
        var end = elt.selectionEnd;
        var txt = elt.value;
        elt.value = txt.substring(0, start) + ch + txt.substring(end, txt.length);
        elt.selectionStart = start + 1;
        elt.selectionEnd = start + 1;
        elt.focus();
        elt.oninput();
      }
    }

block content
  if song
    h1 編輯歌曲 #{song.name}
    section.warning
      | 警告！如果您儲存更新，您的IP位址將會公開紀錄在這首歌曲的
      a(href=PREFIX+'/songList/history?songID='+song._id) 修訂歷史
      | 中。
    form(method='POST')
      p 歌名：
        input(name='name' value=song.name required)
      p 歌手：
        input(name='singer' value=(song.singer || ''))
      p 語言：
        input(name='language' value=(song.language || ''))
      p 簡譜：
        br
        button(type='button' onclick='insert("#")') #
        button(type='button' onclick='insert("\'")') '
        button(type='button' onclick='insert(",")') ,
        button(type='button' onclick='insert("-")') -
        button(type='button' onclick='insert("_")') _
        button(type='button' onclick='insert("=")') =
        button(type='button' onclick='insert(".")') .
        button(type='button' onclick='insert("|")') |
        textarea(
          name='jianpu'
          autocorrect='off'
          style='width:100%'
        )= song.jianpu
      p 預覽：
      div#jianpuOut.to-jianpu(style='border: 1px solid black;')
      button.button.blue(type=submit) 儲存
    script.
      jianpuOut.innerText = document.forms[0].jianpu.value;
      document.forms[0].jianpu.oninput = debounce(function () {
        jianpuOut.style.height = '100vh'; // to prevent screen jumping
        jianpuOut.innerText = document.forms[0].jianpu.value;
        if (jianpuOut.stop) jianpuOut.stop();
        renderJianpu(jianpuOut);
        jianpuOut.style.height = '';
      });
  else
    h1 找不到歌曲
    p 可能是這首歌曲被刪除了，或者是您輸入錯網址了。
    p 
      | 您可以按
      a(href=PREFIX+'/songList') 這裡
      | ，尋找其他歌曲
