extends layout

block title
  - place='songList'
  title #{__("Song not found")} - #{__("Jianpu Space")}

block content
  h1 #{__("Song not found")}
  p #{__("Maybe the song has been deleted")}
  p 
    a(href=PREFIXLANG+'/songList') #{__("search other songs")}
