extends layout

block title
  if song
    title 歌曲 #{song.name}
  else
    title 找不到歌曲

block content
  if song
    h1 編輯歌曲 #{song.name}
    form(method='POST' action='./')
      p 歌名：
        input(name='name' value=song.name)
      p 歌手：
        input(name='singer' value=(song.singer || ''))
      p 語言：
        input(name='language' value=(song.language || ''))
      p 簡譜（選擇性）：
        textarea(name='jianpu' style='width:100%')= song.jianpu
      button.button.blue(type=submit) 確定
  else
    h1 找不到歌曲
    p 可能是這首歌曲被刪除了，或者是您輸入錯網址了。
