extends layout

block title
  - place='songList'
  // Do not crawl edit page. This page provides no additional information
  meta(name='robots' content='noindex')
  if song
    title #{__("Edit song")} #{song.name} - #{__("Jianpu Space")}

block scripts
  script(src='../../javascripts/je.js')
  script(src='../../javascripts/MMLNote.js')
  script(src='../../javascripts/MMLPart.js')
  script(src='../../javascripts/MMLPlayer.js')
  script(src='../../javascripts/sound.js')
  script(src='../../javascripts/songShow.js')
  script.
    // https://stackoverflow.com/questions/11076975/how-to-insert-text-into-the-textarea-at-the-current-cursor-position/34278578
    function insert(ch) {
      var elt = document.getElementsByName('jianpu')[0];
      if (elt.selectionStart != null) {
        var start = elt.selectionStart;
        var end = elt.selectionEnd;
        var txt = elt.value;
        elt.value = txt.substring(0, start) + ch + txt.substring(end, txt.length);
        elt.selectionStart = start + 1;
        elt.selectionEnd = start + 1;
        elt.focus();
        elt.oninput();
      }
    }

block content
  if song
    h1 #{__("Edit song")} #{song.name}
    section.warning
      | #{__("Warning! edit song")}
      |
      a(href=PREFIX+'/songList/history?songID='+song._id target='_blank')= __("View history")
    form(method='POST')
      p= __("Song name") + __(":")
        input(name='name' value=song.name required)
      p= __("Singer") + __(":")
        input(name='singer' value=(song.singer || ''))
      p= __("Language") + __(":")
        input(name='language' value=(song.language || ''))
      p= __("Jianpu") + __(":")
        br
        button(type='button' onclick='insert("#")') #
        button(type='button' onclick='insert("\'")') '
        button(type='button' onclick='insert(",")') ,
        button(type='button' onclick='insert("-")') -
        button(type='button' onclick='insert("_")') _
        button(type='button' onclick='insert("=")') =
        button(type='button' onclick='insert(".")') .
        button(type='button' onclick='insert("|")') |
        textarea(
          name='jianpu'
          autocorrect='off'
          style='width:100%'
        )= song.jianpu
      p= __("Preview") + __(":")
      div#jianpuOut.to-jianpu(style='border: 1px solid black;')
      audio#keepAudioCtx(loop src="../../sounds/blank.mp3")
      button.button.blue(type=submit)= __("Save")
    script.
      jianpuOut.innerText = document.forms[0].jianpu.value;
      document.forms[0].jianpu.oninput = debounce(function () {
        jianpuOut.style.height = '100vh'; // to prevent screen jumping
        if (jianpuOut.stop) {
          jianpuOut.stop();
          jianpuOut.je = null;
        }
        jianpuOut.innerHTML = '';
        jianpuOut.innerText = document.forms[0].jianpu.value;
        renderJianpu(jianpuOut);
        jianpuOut.style.height = '';
      });
  else
    h1 找不到歌曲
    p 可能是這首歌曲被刪除了，或者是您輸入錯網址了。
    p 
      | 您可以按
      a(href=PREFIX+'/songList') 這裡
      | ，尋找其他歌曲
