extends layout

block title
  if song
    title 歌曲 #{song.name} 的修訂歷史
  else
    title 找不到歌曲

block content
  if song
    h1 歌曲 #{song.name} 的修訂歷史
    ul
      for rev in revisions
        li
          a(href=PREFIX+'/songList/history?songID='+song.id+'&rev='+rev.rev)
            span.date #{+rev.modify_time}
          |  
          -
            var user = rev.user;
            var username = 'no ip record';
            if (user) {
              if (user.name) username = user.name;
              else if (user.ip) username = user.ip;
            }
          | #{username}
  else
    h1 找不到歌曲
    p 可能是這首歌曲被刪除了，或者是您輸入錯網址了。
    p 
      | 您可以按
      a(href=PREFIX+'/songList') 這裡
      | ，尋找其他歌曲
  script.
    document.querySelectorAll('.date').forEach(function(x){
      x.textContent = new Date(parseInt(x.textContent)).toLocaleString();
    });
