extends layout

block title
  - place='TODO'
  title #{__("To-do list")} - #{__("Jianpu Space")}

block content
  h1 #{__("To-do list")}
  form(action=PREFIX+'/TODO/add' method='GET')
    button.button.cyan #{__("Add")}
  for item in todos
    section
      h2= item.title
      div #{__("Date created:")}
        span.date= +item._id.getTimestamp()
      div #{__("Date modified:")}
        span.date= +item.modifyDate
      div #{__("Status:")}#{item.status}
      form(action=PREFIX+'/TODO/edit' method='GET')
        input(type="hidden" name="id" value=item._id)
        button.button.cyan #{__("Edit")}
      p(style={'white-space':'pre-wrap'})= item.description
  script.
    document.querySelectorAll('.date').forEach(function(x){
      x.textContent = new Date(parseInt(x.textContent)).toLocaleString();
    });
